<style>
  .container {
    margin-top: 10%;
  }

</style>

<html>
  <div class='container'>
    <center>
      <h1>Happy Birthday, <%= @name %>!!!</h1>
      <div><img src="https://orig00.deviantart.net/2c5f/f/2017/246/b/d/ezgif_com_gif_maker__4__by_sedimay-dbm8ywv.gif" src='Happy_birthday'></img>
    </center>
  </div>
</html>
